<html ng-app="todo">
<head>
    <title>TODO</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/todo.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container" ng-controller="CreateTodo">
    <div class="jumbotron custom-header">
        <h1>TODO App</h1>
    </div>
    <div class="col-md-6" ng-submit="submit()">
        <div class="panel panel-default">
            <div class="panel-heading custom-heading">
                <span class="panel-title">Create a Todo</span>
            </div>

            <div class="panel-body custom-body">
                <form class="form-horizontal" name="todoForm">
                    <div class="form-group"
                         ng-class="{ 'has-error' : todoForm.todo.$invalid && !todoForm.todo.$pristine }">
                        <label for="todo" class="control-label col-xs-3">TODO:</label>
                        <div class="col-xs-6 col-xs-offset-1">
                            <input type="text" class="form-control" name="todo" ng-model="todo.title" id="todo"
                                   placeholder="What Need To Be Done?" ng-minlength="3" ng-required="true">
                            <p ng-show="todoForm.todo.$error.minlength" class="help-block">Todo length is too short.</p>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : todoForm.date.$invalid && !todoForm.date.$pristine }">
                        <label for="date" class="control-label col-xs-3">DATE:</label>
                        <div class="col-xs-6 col-xs-offset-1">
                            <input type="datetime-local" class="form-control" name="date" ng-model="todo.date" id="date"
                                   placeholder="date" min="{{minDate}}" ng-required="true">
                            <p ng-show="todoForm.date.$error.min" class="help-block">You cannot add a todo in this
                                date</p>

                        </div>
                    </div>
                    <div class="col-xs-offset-4 col-md-6">
                        <button class="btn btn-block btn-success" type="submit" ng-disabled="todoForm.$invalid">Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">My Todos</span>
            </div>

            <div class="panel-body custom-body">
                <div ng-repeat="todo in todos track by $index" class="draggable-objects" ng-drop="true"
                     ng-drop-success="onDropComplete($index,$data,$event)">
                    <div class="well" ng-drag="true" ng-drag-data="todo" data-allow-transform="true" class="item">
                        <div ng-hide="todo.editMode">
                            <div class="row">
                                <span class="pull-left">{{todo.date | date:'dd MMM yyyy, h:mm a'}}</span>
                                <a ng-click="remove(todo)" class="fa fa-times pull-right fa-lg" aria-hidden="true"
                                   title="Delete"></a>
                            </div>
                            <div class="row">
                                {{ todo.title }}
                                <a ng-click="todo.editMode=true" class="fa fa-pencil-square fa-lg pull-right"
                                   aria-hidden="true" title="Edit"> </a>
                                <div ng-hide="todo.read">
                                    <a ng-click="todo.read=true"><span class="fa fa-square-o"></span> Mark As Read
                                    </a>
                                </div>
                                <div ng-show="todo.read">
                                    <a ng-click="todo.read=false" ng-show="todo.read"><span
                                            class="fa fa-check-square"></span> Mark As UnRead </a>
                                </div>
                            </div>
                        </div>
                        <div ng-show="todo.editMode">
                            <form ng-submit="todo.editMode = false" name="editTodo" class="editForm form-group">

                                <input type="datetime-local" ng-model="todo.date"
                                       value="{{todo.date}}" placeholder="date" min="{{minDate}}"
                                       class="form-control form-group" ng-required="true">

                                <input type="text" ng-model="todo.title" value="{{todo.title}}"
                                       placeholder="{{Title}}" class="form-control form-group" ng-required="true" id="title">
                                <button class="btn btn-success btn-block" type="submit">Save</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <script>
            jQuery(document).ready(function () {
                $(".editForm").on('focus',function (e) {
                    $(this).closest('#title').attr("draggable",false);
                })
            });

            jQuery(document).ready(function(){
                $("button").click(function(){
                    $("p").hide();
                });
            });

        </script>
        <script src="js/app.js"></script>
        <script src="js/service/TodoService.js"></script>
        <script src="js/controller/CreateTodoController.js"></script>
        <script src="bower_components/angular-ui-sortable/sortable.js"></script>
        <!--<script src="js/controller/ShowTodo.js"></script>-->
    </div>
</div>
</body>
</html>